{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

    <form action="{{ url_for('add_google_ss_settings') }}" method=post enctype=multipart/form-data>
<!--            <fieldset>-->
<!--                <legend>Добавить новую таблицу Google:</legend>-->
<!--                      {{ form_gs.hidden_tag() }}-->
<!--                      {{ form_gs.spreadsheets_id.label }}<br>-->
<!--                      {{ form_gs.spreadsheets_id }}<br>-->

<!--                      {{ form_gs.credential_file.label }}<br>-->
<!--                      {{ form_gs.credential_file }}<br>-->
<!--                        <p>{{ form_gs.submit() }}</p>-->
<!--            </fieldset>-->
                {{ wtf.quick_form(form_gs)}}
    </form>

    <fieldset>
                <legend>Доступные таблицы Google:</legend>
                <p><a href="https://docs.google.com/spreadsheets/d/1Kfkwystan1K4j_K712OysWXeqzBscwCm2bEOahYCLXw">Как сделать такое же фото?</a></p>
                <div class="table table-bordered table-hover"  id="google sheets">
                     {{ table }}
                </div>
    </fieldset>

{% endblock %}


