{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

    <div class="container  mt-5">
        <div class="card-columns">
              <div class="card  mb-4 " style="width: auto;">
                      <div class="card-header">Добавить новую почту</div>
                      <div class="card-body d-sm-flex justify-content-between">
                                <form action="{{ url_for('add_google_ss_settings') }}" method=post enctype=multipart/form-data>
                                        {{ wtf.quick_form(form_gs)}}
                                </form>
                      </div>
              </div>
              <div class="card  mb-4 " style="width: auto;">
                  <div class="card-header">Доступные google таблицы</div>
                  <div class="table-responsive">
                       {{ table }}
                  </div>
              </div>
          </div>
     </div>


{% endblock %}


