{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

                <div draggable="true"  class="card  mb-4 wow fadeIn " >
                      <div class="card-body d-sm-flex justify-content-between">
                                <form action="{{ url_for('add_google_ss_settings') }}" method=post enctype=multipart/form-data>
                                            {{ wtf.quick_form(form_gs)}}
                                </form>
                      </div>
              </div>

                <div draggable="true"  class="card  mb-4 wow fadeIn " >
                      <div class="card-body d-sm-flex justify-content-between">
                            <form action="{{ url_for('add_mail_settings') }}" method=post enctype=multipart/form-data>

                                        {{ wtf.quick_form(form_mail)}}
                            </form>
                      </div>
              </div>

                <div draggable="true"  class="card  mb-4 wow fadeIn " >
                      <div class="card-body d-sm-flex justify-content-between">
                            <form action = "{{ url_for('add_task') }}" method = post >
                                {{ form_l.csrf_token }}
                                {{ form_l.hidden_tag() }}
                                <fieldset>
                                    <legend>Добавление задачи</legend>
                                     {{ wtf.quick_form(form_l)}}
                                </fieldset>
                            </form>
                      </div>
              </div>

            <div draggable="true" class="card ">
                 <legend>Доступные почты:</legend>
                <div class="table table-bordered table-hover" id="emails">
                            {{ table }}
                </div>
                <legend>Доступные таблицы Google:</legend>
                <p><a href="https://docs.google.com/spreadsheets/d/1Kfkwystan1K4j_K712OysWXeqzBscwCm2bEOahYCLXw">Как сделать такое же фото?</a></p>
                <div class="table table-bordered table-hover"  id="google sheets">
                     {{ table_ss }}
                </div>

                <legend>Доступные задачи:</legend>
                <div class="table table-bordered table-hover"  id="tasks">
                     {{ table_tasks }}
                </div>
            </div>


{% endblock %}