{% extends "base_bootstrap.html" %}

{% block content %}

        <div id="emails">
            <fieldset>
                    <legend>Доступные почты:</legend>
                    {{ table }}
            </fieldset>

        </div>
        <br>
        <div id="google sheets">
            <fieldset>
                    <legend>Доступные таблицы Google:</legend>
                    {{ table_ss }}
            </fieldset>
        </div>
        <br>
        <div id="tasks">
            <fieldset>
                    <legend>Доступные задачи:</legend>
                    {{ table_tasks }}
            </fieldset>
        </div>

{% endblock %}